body {
	background: linear-gradient(to bottom, #F0FFF0, #FFDAB9);
	text-align: center;
}

.app {
	color: red;
	background: linear-gradient(to right, #B0E2FF, #CDCD00);
	/*height: 100%;*/
	border-radius: 10px 0px;
}

.news {
	color: #9370DB;
	background-color: #FA8072;
}

.comments {
	color: #FF69B4;
	background-color: #8B8989;
	margin-top: 10px;
}

.news, .comments {
	height: 100%;
	border-radius: 10px 0px;
	padding-bottom: 10px;
}

.news_author {
	color: #CD1076;
	margin-right: 5px;
}

.news_text {
	color: #8968CD;
}

.news_author, .news_text {
	font-family: cursive;
	display:inline-block;

}

.news_bigText {
	color: #F0FFFF;
	text-align: left;
	margin: 0 10px;
	display: none;
}

.news strong, .comments strong {
	color: #90EE90;
	border: 2px ridge #F0FFF0;
	border-radius: 10px 0px;
	padding: 5px;
}

.article, .testInput {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.button {
	display: inline-block;
	margin: 0 0 2px 10px;
	padding-bottom: 5px;
}

.authorAddInput, .newsAddInput {
	display: block;
	margin-bottom: 10px;
    margin-left: 33%;
}
.checkboxAddInput {
	display: inline-block;
	margin-left: -15%;
}

.alertButton {
	margin-right: 25%;
}