.dropup {
	border: 1px solid rgba(28, 28, 28, 0.8);
	border-radius: 20px;
	background-color: transparent;
	color: rgb(28, 28, 28);
	width: 100%;
	height: 100%;
	outline-style: none;
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 200;
}

.dropup:hover, .dropup:active, .dropup:focus {
	border: 1px solid rgba(255, 0, 0, 0.8);
	color: rgb(255, 0, 0);
	outline-style: none;
	box-shadow: 1px 1px 20px #7CFC00;

}