.blockItem {

}

.headBlockItem {
	text-align: center;
	/*color: transparent;*/
	text-shadow: 2px -5px 5px rgba(108, 123, 139, 0.5);
}
.headBlockItem h1 {
	font-size: 80px;
	background: -webkit-linear-gradient(#000080, #FF7256);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.headBlockItem, .blockItem {
	position: relative;
	left:25%;
}

.contain {
	width: 100%;
	margin-bottom: 10em;
}

.page {
	height: 100%;
	width: 60%;
	margin: auto;
	margin-top: 7em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page > img {
	display: block;
}

.page > img {
	height: 60%;
	width: 100%;
}

/*a, h3, h4, h2, p {
	margin: 5% 0 0 15%;
	clear: right;
}*/
.headUl {
	background-color: rgba(176, 196, 222, 0.9);
	text-align: center;
	color: #FF7256;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 18px;
	height:5em;
}
.headUl > h2 {
	margin: auto;
	padding-top: 0.3em;
	border-bottom: 1px solid #FF7256;
	text-shadow: 2px 2px 4px #000000;
}

.page ul {
	padding: 0;
	margin: 0;
}

.page li {
	display: flex;
	background-color: rgba(255, 250, 250, 0.9);
	padding: 15px 30px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 18px;
	margin:0 0 1px 0;
}

.page li div {
	display: block;
	margin: 0;
	padding: 0;
}

.page li a {
	margin: 0;
}

.leftBox {
	/*margin-left: 10%;*/
	width: 35%;
	color: #000080;
	text-align: left;
	text-shadow: 2px 2px 4px #FF7256;
}

.rightBox {
	/*margin: auto;*/
	width: 65%;
	color: #FF7256;
	text-align: right;
}
.rightBox a {
	color: #FF7256;
}

.page li ul li .leftBox {
	width: 40%;
	color: #CD5C5C;
	text-align: left;
}

.page li ul li .rightBox {
	width: 60%;
	color: #AB82FF;
	text-align: right;

}
.page li ul li a {
	color: #AB82FF;
} 

.page li ul li {
	padding: 0;
}

.page li ul {
	margin-top: 35px;
}
.hamItemLeftBox, .hamItemRightBox {
	font-size: 12px;
}
.hamItemLeftBox {
	text-align: left;
}

.hamItemRightBox{
	text-align: right;
}
.overflowUl {
	overflow: auto;
	border: 1px solid black;
	height:200px;
	width: 100%;
}

.dropDown {
	/*display: none;*/
	max-height: 0;
	overflow: hidden;
	transition: max-height .5s ease-out;
}

.bars:hover, .bars.active{
	cursor: pointer;
	color: #FF0000;
	font-size: 40px;

}

.hamburger {
	background-color: transparent;
	border: none;
	outline: 0;
}

.header {
	background: linear-gradient(to bottom right, #CFCFCF, #696969, #1C1C1C);
	text-align: center;
	height: 7em;
	width: 100%;
	position: fixed;
	z-index: 1;
	border-radius: 0 0 10px 10px;
}

.header .page-header {
	margin-top: -5px;
}

.header small {
	color: #F0FFFF;	
}

.footer {
	height: 100px;
	width: 100%;
	clear: both;
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	margin-bottom: -50px;
	color: #FF7256;
	text-align: center;
}

.footer .panel {
	border-radius: 10px 10px 0 0;
	background-color: rgba(28, 28, 28, 0.8);

}
